/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* menu header */
.header {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  background-color: aliceblue;
}

.header__logo {
  margin-right: 80px;
}

.header__category span {
  margin-right: 30px;
}

/* scroll ad section*/
@keyframes scrollAni {
  0% {
    transform: translateX(0vw);
  }
  33% {
    transform: translateX(-100vw);
  }
  66% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(-300vw);
  }
}

.scroll-ad {
  height: 300px;
  overflow-x: hidden;
}

.scroll-add__pages {
  display: flex;
  height: 300px;
  width: 400vw;
  animation: scrollAni 9s ease-in-out infinite;
}

.scroll-add__pages_part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  width: 100vw;
}

.scroll-add__pages_part:first-child {
  background-color: antiquewhite;
}
.scroll-add__pages_part:nth-child(2) {
  background-color: lightcyan;
}
.scroll-add__pages_part:nth-child(3) {
  background-color: lightgrey;
}
.scroll-add__pages_part:nth-child(4) {
  background-color: antiquewhite;
}

.scroll-add__pages_part h1 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px;
}

.scroll-add__pages_part h3 {
  font-size: 15px;
  margin-bottom: 30px;
}

.scroll-add__pages__btns button {
  padding: 7px 10px;
  background-color: skyblue;
  border-radius: 10px;
  border: none;
}

.scroll-ad__controll {
  display: flex;
  position: absolute;
  z-index: 1;
  height: 300px;
}

.scroll-ad__controll div {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0px 20px;
}
